body {
  margin: 0 auto;
  overflow: hidden
}

.target_ground {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.target_ground:not(:hover) .target_wrapper {
  opacity: 0.5;
  border-color: blueviolet;
}

.target_wrapper{
  display: block;
  transition-duration: 0.1s;
  position: absolute;
  transform: translate(50vw,50vh);
}

.target {
  position: absolute;
  transform: translate(-50%,-50%);
}

.line > div {
  position: absolute;
  background-color: red;
}

.vertical_line {
  height: 100vh;
  width: 1px;
}

.horizontal_line {
  width: 100vw;
  height: 1px;
}

.line>.top {
  bottom: 35px;
}

.line>.bottom {
  top: 35px;
}

.line>.left {
  right: 35px;
}

.line>.right {
  left: 35px;
}

.tag {
  position: absolute;
  color: aliceblue;
  transform: translate(20px,20px);
  width: max-content;
  font-size: 1.2em;
}